<!DOCTYPE html>
<html class="h-full bg-gray-900">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Rom-Invest{% endblock %}</title>
        <link rel="icon" href="{{ asset("images/logo.svg") }}">
        <link href="{{ asset("build/output.css") }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="h-full">
        {% block body %}
        {% endblock %}
    </body>
</html>
